# Docker Compose for Microservices Demo
version: "3.8"
services:
  auth-service:
    build: ./auth-service
    ports:
      - "3001:3001"
    networks:
      - micro-net
  merchant-service:
    build: ./merchant-service
    ports:
      - "3002:3002"
    networks:
      - micro-net
  consumer-service:
    build: ./consumer-service
    ports:
      - "3003:3003"
    networks:
      - micro-net
  log-service:
    build: ./log-service
    ports:
      - "3004:3004"
    networks:
      - micro-net
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth-service
      - merchant-service
      - consumer-service
      - log-service
      - mysql-db
    networks:
      - micro-net
networks:
  micro-net:
    driver: bridge
